UnityProject/.vscode
UnityProject/Library
UnityProject/obj
UnityProject/Temp
UnityProject/Out
UnityProject/Logs


*.csproj
*.sln
UnityProject/.idea/.idea.UnityProject/.idea/indexLayout.xml
UnityProject/Release
